@import "./abstract/mixin";

.nav1 {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background: #007878;
    color: white;
    align-items: center;


}

.container {
    width: 1128px;
    margin: auto;

}


.navbar-brand {
    padding-right: 300px;
}

.tarms {

    display: flex;
    gap: 10px;


}

.snobel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container-fluid {
    .navbar-nav {
        display: flex;

    }
}

.nav3 {

    .navbar-nav {
        display: flex;
        justify-content: space-between;



    }
}

.navbar {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.one {

    background-color: #FFE2E0;
    display: flex;
    padding-bottom: 100px;



    .right1 {

        img {
            position: absolute;
            width: 30%;
            right: 180px;
        }
    }

    .left1 {
        padding-top: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        button {
            width: 192px;
            height: 52px;
            background: #206363;
            color: white;
            border-radius: 20px;
        }

    }

}



.navbar-nav .nav-link {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.basket {
    li {
        display: flex;
        margin-left: 50px;


        align-items: center;
    }

    i {
        margin-right: 10px;


    }

}

.icon {
    .form-control {
        position: relative;
    }

    i {
        position: absolute;
        right: 440px;
        bottom: 30px;

    }
}

.nav4 {
    background: #F7F7F7;

}

.bask {
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    li {
        display: flex;
        gap: 32px;


        align-items: center;
    }

    a {
        margin-right: 55px;


    }

    i {
        margin-right: 10px;
        display: flex;
        justify-content: flex-start;


    }
}



.two {
    padding-top: 50px;
    padding-bottom: 600px;


    .cards {
        display: flex;
        flex-direction: row;
        gap: 20px;

        h1 {
            font-size: 18px;
        }
    }


    .card {
        width: 264px;
        height: 162px;

        .card1 {
            background-image: url(./../images/back1.png);
            @include backg8;

        }


    }


    .card {
        .card2 {
            background-image: url(./../images/back2.png);
            @include backg6;
        }
    }

    .card {
        .card3 {
            background-image: url(./../images/3picture.png);
            @include backg8;

        }
    }

    .card {
        .card4 {
            background-image: url(./../images/back4.png);
            @include backg6;

        }
    }

    .headfeat {
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
    }

    .cards2 {
        display: flex;
        gap: 377px;
        flex-direction: row;

        .cardone {
            @include crd;

            .hearticon {

                position: absolute;
                width: 5%;
                left: 330px;

            }

            .flx {
                @include flx;

                p {
                    @include p;
                }
            }

            .btn1 {
                @include btnyg;
                background: #43D167;
            }

            img {
                position: absolute;
                left: 75px;
                width: 60%;

            }



        }

        .star {
            display: flex;
            top: 290px;
            position: absolute;
            color: #FFDD45;

        }

        .heart1 {
            position: absolute;
            right: 10px;
            color: #DF4244;

        }

        .money {
            color: #F75145;
            font-weight: bold;

        }

        .end1 {
            width: 312px;
            height: 48px;
            margin-top: 30px;

            border-radius: 8px;
            margin-bottom: 80px;
        }



    }

    .cardtwo {

        @include crd;
        margin-bottom: 80px;

    }

    .flx1 {
        @include flx;

        p {
            @include p;
        }
    }

    img {
        position: absolute;
        left: 75px;
        width: 60%;

    }

    .btn2 {
        @include btnyg;
        background: #DF4244;

    }

    .cardthree {
        @include crd;
        margin-bottom: 80px;
    }

    .hearticon {

        position: absolute;
        width: 5%;
        left: 330px;

    }

    .flx2 {
        @include flx;

        p {
            @include p;

        }



    }

    img {
        position: absolute;
        left: 75px;
        width: 60%;


    }

}

.smallsection {
    background: #FFF7F7;

    .headfeat {
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
    }

}

.threesection {
    background: #FFF7F7;


    padding-bottom: 600px;

    display: flex;
    flex-direction: row;

    .cards3 {
        margin-top: 50px;
        display: flex;
        gap: 378px;
        flex-direction: row;


        .cardone {
            @include crdw;

            .hearticon {

                position: absolute;
                width: 5%;
                left: 330px;
                top: 10px;

            }

            .flx {
                @include flx;

                p {
                    @include p;
                }
            }

            .btn1 {
                @include btnyg;
                background: #43D167;
            }

            img {
                position: absolute;
                left: 75px;
                width: 60%;
                top: 125px;

            }

        }

        .star {
            display: flex;
            top: 290px;
            position: absolute;
            color: #FFDD45;

        }

        .heart1 {
            position: absolute;
            right: 10px;
            color: #DF4244;

        }

        .money {
            color: #F75145;
            font-weight: bold;

        }

        .end1 {
            width: 312px;
            height: 48px;
            margin-top: 30px;

            border-radius: 8px;
            margin-bottom: 80px;
        }



    }

    .cardtwo {

        @include crdw;

    }

    .flx1 {
        @include flx;


        p {
            @include p;
        }
    }

    img {
        position: absolute;
        left: 75px;
        width: 70%;

    }

    .btn2 {
        @include btnyg;
        background: #DF4244;

    }

    .cardthree {
        @include crdw;
    }

    .flx2 {
        @include flx;

        p {
            @include p;

        }

        .hearticon {

            position: absolute;
            width: 5%;
            left: 330px;
            top: 10px;

        }



    }

    img {
        position: absolute;
        top: 95px;
        left: 75px;
        width: 60%;


    }

    .btn2 {
        @include btnyg;
        background: #DF4244;


    }



}

.foursection {
    padding-top: 80px;

    padding-bottom: 600px;


    .headfeat {
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
    }

    .cards4 {
        display: flex;
        gap: 377px;
        flex-direction: row;
        margin-top: 50px;


        .cardone {
            @include crd;


            .hearticon {

                position: absolute;
                width: 5%;
                left: 330px;

            }

            .flx {
                @include flx;

                p {
                    @include p;
                }
            }

            .btn1 {
                @include btnyg;
                background: #43D167;


            }

            img {
                position: absolute;
                left: 75px;
                width: 60%;

            }



        }

        .star {
            display: flex;
            top: 290px;
            position: absolute;
            color: #FFDD45;

        }

        .heart1 {
            position: absolute;
            right: 10px;
            color: #DF4244;

        }

        .money {
            color: #F75145;
            font-weight: bold;

        }

        .end1 {
            width: 312px;
            height: 48px;
            margin-top: 30px;
            border: 1px solid #212121;
            border-radius: 8px;
            margin-bottom: 80px;
        }



    }

    .cardtwo {
        @include crd;
    }

    .flx1 {
        @include flx;

        p {
            @include p;
        }
    }

    img {
        position: absolute;
        left: 75px;
        width: 60%;

    }

    .btn2 {
        @include btnyg;
        background: #43D167;

    }

    .cardthree {
        @include crd;
    }

    .hearticon {

        position: absolute;
        width: 5%;
        left: 330px;

    }

    .flx2 {
        @include flx;

        p {
            @include p;

        }
    }

    img {
        position: absolute;
        left: 75px;
        width: 60%;
    }

    .btn2 {
        @include btnyg;
        background: #43D167;

    }
}

.navbarsection {

    .navbar-brand {
        margin-top: 30px;
        margin-bottom: 30px;
    }


    .iconserc {
        .form-control {
            position: relative;
            margin-top: 30px;
            margin-bottom: 20px;
            width: 504px;
            height: 48px;
        }

        i {
            position: absolute;
            top: 65px;
            right: 20px;
        }

    }
}

.fivesection {

    height: 390px;
    background: #F7F7F9;

    .bigsection {

        display: flex;
        flex-direction: row;
        margin-top: 0px;
        background: #F7F7F9;

        .leftsection {
            width: 50%;

            .p1 {
                margin-bottom: 45px;
            }

            .p2 {
                margin-bottom: 30px;
            }

            .p3 {
                margin-bottom: 50px;
            }

            button {
                width: 179px;
                height: 48px;
                opacity: 0.8;
                border: 1px solid #171717;
                border-radius: 8px
            }

        }

        .rightsection {

            width: 50%;

            display: flex;
            flex-direction: row;
            gap: 50px;

        }

        h4 {
            margin-bottom: 20px;
        }
    }


}

footer {
    display: flex;

    gap: 500px;
    align-items: center;
    background: #FFFFFF;

    .footleft {
        p {
            margin-top: 30px;
        }

    }

    .footright {
        display: flex;

        img {
            margin-right: 50px;
            margin-top: 30px;
        }
    }


}

@media only screen and (max-width: 768px) {
    .one {
        display: flex !important;
        flex-direction: column !important;

    }

    .two {
        .cards {
            @include flx;
        }
    }

    .cards2 {
        display: flex !important;
        flex-direction: column !important;
        gap: 500px !important;

    }

    .threesection {
        .cards3 {
            @include flx;
            gap: 500px !important;
        }

    }

    .foursection {
        .cards4 {
            @include flx;
            gap: 500px !important;
        }
    }

    .fivesection {
        padding-bottom: 100px;
    }

    .navbarsection {
        h1 {
            margin-bottom: 10px !important;
        }

        .form-control {
            width: 160px !important;
            height: 30px !important;
            left: 0px !important;
            margin-bottom: 60px !important;
        }

        i {
            display: none;
        }
    }

    .one {

        .right1 {
            padding-bottom: 100px;

            img {
                position: absolute;
                width: 30%;
                margin-top: 20px;
                left: 80px;
            }
        }
    }

    .fivesection {
        display: flex !important;
        flex-direction: column !important;
    }

    .bigsection {
        display: flex !important;
        flex-direction: column !important;


        .leftsection {
            width: 50%;

            .p1 {
                margin-bottom: 10px;
            }

            .p2 {
                margin-bottom: 30px;
            }

            .p3 {
                margin-bottom: 50px;
            }
        }

        .rightsection {
            display: flex !important;
            flex-direction: column !important;
            margin-top: 10px;
        }
    }

    footer {
        padding-top: 800px;
        display: flex !important;
        flex-direction: column !important;
        gap: 10px;

        img {

            margin-top: 0px !important;
        }
    }
}